files:
    "/etc/cron.d/mycron":
        mode: "000640"
        owner: root
        group: root
        content: |
            SHELL=/bin/bash
            00 18 * * 1-5 root /usr/local/bin/run_crons.sh >> /var/log/gorrabotjob.log 2>&1

    "/usr/local/bin/run_crons.sh":
        mode: "000750"
        owner: root
        group: root
        content: |
            #!/bin/bash
            source /var/app/venv/staging-LQM1lest/bin/activate
            cd /var/app/current/
            source /etc/profile.d/sh.local
            python /var/app/current/gorrabot/comment_stale_merge_requests.py
            python /var/app/current/gorrabot/slack_resume.py
            exit 0

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/mycron.bak"
    setvars:
        command: /opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries | .[] | "export \(.key)=\"\(.value)\""' > /etc/profile.d/sh.local
packages:
    yum:
        jq: []